apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: mithuns24/flaskapp:latest
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /welcome
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
